<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<f:view>
<h:head>
    <title>Весёлая шина - лучшие предложения!</title>
    <link href="bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="favicon.ico" id="favicon"/>
    <script type="text/javascript" src="main.js"></script>
</h:head>

<h:body>
    <p:socket onMessage="getContent" channel="/showcase" />
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-brand">Весёлая шина - лучшие предложения</span>
        </nav>
    </header>
    <div class="col-md-12 mt-5" id = "showCaseTable_content">
    </div>
</h:body>
</f:view>
</html>
